body{
    background-color: cornflowerblue;
    color: white;
}

h1{
   text-align: center;
   margin-top: 3rem;

}
#city-name{
    align-items: center;
    text-align: center;
    padding: 1rem;
    width: 20rem;
    border-radius: 10px;
    margin-top: 2rem;
    margin-left: 31%;
    font-size: 1.3rem;
    border: none;
}
button{
    padding: 1rem;
    width: 7rem;
    border-radius: 10px;
    font-size: 1rem;
    background-color: rgb(196, 243, 204);
    cursor: pointer;
}
h3{
    text-align: center;
    margin-top: 0.5rem;
    font-size: 1.5rem;
 
 }

 h4{
    text-align: center;
    margin-top: 0.5rem;
    font-size: 1.3rem;
 
 }
.space{
    margin-left: 2rem;
}